* {
    color: white;
    font-family: "Hedvig Letters Sans", sans-serif;
    /* font-size: 20px; */
    /* font-family: "Hedvig+Letters+Sans", sans-serif; */
}


html, 
body {
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
}

#content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right; 
}


